body {
  background-color: black;

  display: flex;
  justify-content: center;
}
.sub {
  font-size: 30px;
  color: white;
}
#div4ik_ani {
  scroll-behavior: auto;
  width: 300px;
  -webkit-animation-name: move;
  -webkit-animation-duration: 210s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: top;
  -webkit-animation-timing-function: linear;
}

#div4ik_ani:hover {
  -webkit-animation-play-state: paused;
}

.section__span{
  display: block;
  margin-top: 50px;
}

@-webkit-keyframes move {
  0% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(-5000px);
  }
}
